# INSTALLING AND IMPORTING LIBRARIES

In [8]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Creating a New SqLite Database and Table

In [22]:
#Connecting to Database
conn  = sqlite3.connect("user_data.db") 

#Creating a cursor to interact with Database
cursor = conn.cursor()

#Creating a Sample Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
id INTEGER PRIMARY KEY AUTOINCREMENT ,
name TEXT , 
age INTERGER ,
city TEXT ,
spent REAL
)
"""
)



#Commiting and closing the connection
conn.commit()

# Inserting the Samle Data  into the SQL table

In [30]:
# Insering the Sample Data 
users = [
    ("OM NAMA SHIVA", 8, "New York", 888.0),
    ("Shiva Pandey", 80, "Mass", 80808.0),
    ("Prason Pandey", 69, "Pokhara", 696969.0),
    ("Ram Kazi", 44, "Butwal", 15792.0),
    ("Ramesh Pokhrel", 96, "Arizona", 26479.0),
]

# Inserting the data into the table
cursor.executemany("INSERT INTO users (name, age, city, spent) VALUES (?, ?, ?, ?)", users)

# Committing the changes
conn.commit()

# Closing the connection
conn.close()